<div class="fragment_101">
    <div id="app3-container" class="fragment_1">
    </div>
</div>

[#assign isSignedIn = themeDisplay.isSignedIn() ]

<script type="module">
    (async () => {
        try {

            const { addDependenciesToHead, addDependenciesToBody } = await import('./resourcesDynamicImport.js');
    
            document.addEventListener("DOMContentLoaded", function() {
                
                addDependenciesToHead('bundle.js', 'https://app3.dev.local/static/js/', function() {
                    const signInSilently = '${isSignedIn?string}';
                    console.debug("signInSilently: " + signInSilently);
    
                    // Créer une chaîne de caractères pour le HTML en utilisant la concaténation
                    const webComponentHTML = 
                        '<app3-docker-example>' +
                            '<config embedded="true" signInSilently="' + signInSilently + '"></config>' +
                        '</app3-docker-example>';
    
                    // Ajouter le HTML au DOM
                    const container = document.getElementById('app3-container');
                    if (container) {
                        container.innerHTML = webComponentHTML;
                        console.debug("'app3-docker-example' added to 'app3-container'.");
                    } else {
                        console.error('Aucun élément avec l\'ID "app3-container" trouvé.');
                    }
                });

            });
        } catch (error) {
            console.error('Error loading module:', error);
        }
    })();
    </script>