authorizationEndPoint="http://sso.dev.local:8080/realms/Liferay/protocol/openid-connect/auth"
customAuthorizationRequestParameters=[ \
  ]
customTokenRequestParameters=[ \
  ]
discoveryEndPoint="http://sso.dev.local:8080/realms/Liferay/.well-known/openid-configuration"
discoveryEndPointCacheInMillis=L"360000"
idTokenSigningAlgValues=[ \
  "RS256", \
  ]
issuerURL="http://sso.dev.local:8080/realms/Liferay"
jwksURI="http://sso.dev.local:8080/realms/Liferay/protocol/openid-connect/certs"
openIdConnectClientId="liferay"
openIdConnectClientSecret="liferay"
providerName="Keycloak"
registeredIdTokenSigningAlg=""
scopes="openid\ email\ profile"
subjectTypes=[ \
  "public", \
  "pairwise", \
  ]
tokenConnectionTimeout=I"1000"
tokenEndPoint="http://sso.dev.local:8080/realms/Liferay/protocol/openid-connect/token"
userInfoEndPoint="http://sso.dev.local:8080/realms/Liferay/protocol/openid-connect/userinfo"