baseURL="$[env:APP_DOMAIN]"
dxp.lxc.liferay.com.virtualInstanceId="default"
name="Remote\ App\ New"
type="customElement"
typeSettings=[ \
  "friendlyURLMapping=null", \
  "instanceable=false", \
  "urls=/remote-app-new/index.js", \
  "useESM=true", \
  "htmlElementName=remote-app-new", \
  "cssURLs=/remote-app-new/index.css\n/remote-app-new/css/fonts.css", \
  "portletCategoryName=category.remote-apps" \
]